@import url("https://fonts.googleapis.com/css?family=Raleway");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Raleway", serif !important;
}

.navbar-bg {
  background: rgba(62, 81, 81, 0.4);
}

.bg-index {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.bg-projects {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  justify-content: center;
}

.bg-project-card {
  background-color: rgba(3, 37, 37, 0.4);
  color: antiquewhite;
}

.btn-forest {
  background-color: rgba(62, 81, 81, 0.2);
  color: white;
}

.btn-forest:hover {
  background-color: rgba(222, 203, 164, 0.1);
  color: white;
}

.skill-badge {
  color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  background: rgba(61, 81, 81, 0.7);
}

.project-description {
  padding-top: 10vh;
  min-height: 30vh;
  background: rgba(61, 81, 81, 0.8);
  color: antiquewhite;
}

.about-description {
  padding: 5vh;
  min-height: 30vh;
  background: rgba(61, 81, 81, 0.8);
  color: antiquewhite;
}
